# Dependencies
node_modules/
.pnpm-store/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Next.js build outputs
frontend/.next/
frontend/out/

# NestJS build outputs
backend/dist/

# Environment variables (Crucial for security!)
.env
.env.local
.env.production
backend/.env

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
AUTH_PHASES.md