# DATABASE CONFIGURATION
DATABASE_URL="postgresql://postgres:securepassword123@localhost:5433/ems_db?schema=public"
# Production (Render PostgreSQL):
# DATABASE_URL="postgresql://ems_user:PASSWORD@dpg-xxxxx.a.compute.amazonaws.com:5432/ems_db_jayh"

# JWT AUTHENTICATION SECRET
JWT_SECRET="super-secret-change-me-in-production-123456"
JWT_EXPIRATION="1d"

# SYSTEM PORT
PORT=5000